@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-li {
      @apply cursor-pointer  float-left m-2 hover:bg-[#0e10134d] p-4;
    }
    
    .logo{
      @apply w-20 ml-2 mr-3
      
    }
    .tool-info{
      @apply ml-20 flex text-white items-center hover:bg-[#0000003f] mr-52 py-14 rounded-lg select-none cursor-pointer h-20
    }
    .nav-item{
      @apply justify-center hover:bg-slate-600 transition-colors ease-in-out duration-100 rounded-full py-1 w-8 m-2 flex  p-2
    }
    .icon-button{
      @apply m-0
    }
    .drawer-button{
      @apply  m-auto p-1 pb-2 px-6 hover:bg-slate-700 transition-colors ease-in-out duration-100 rounded-lg
    }
    .li-item{
      @apply  flex justify-between border-b-[1px] transition-all relative  duration-200  ease-in-out  h-16 m-1 cursor-pointer bg-[#22252c] hover:bg-[#252830] border-b-[#ffffff48]
    }
    .dropdown-items {
      @apply  cursor-pointer  p-1 hover:bg-slate-600   bg-[#00000050] w-full  transition-none
    }
    .active {
      @apply bg-[#0e10134d] text-[#0077ffd0] hover:bg-[#0e10134d]
    }
    .react-select-container {
     @apply w-[98%] m-auto text-sm font-bold
    }
    .react-select-container .react-select__control {
      @apply  border-2 bg-slate-700 border-slate-700 hover:border-slate-500;
    }
  
    .react-select-container .react-select__control--is-focused {
      @apply shadow-none border-slate-400 hover:border-slate-400;
    }
  
    .react-select-container .react-select__menu {
      @apply border-2 bg-slate-700 border-slate-600;
    }
  
    .react-select-container .react-select__option {
      @apply  text-slate-200 bg-slate-700 hover:bg-slate-800;
    }
  
    .react-select-container .react-select__indicator-separator {
      @apply bg-slate-400;
    }
  
    .react-select-container .react-select__input-container,
    .react-select-container .react-select__placeholder,
    .react-select-container .react-select__single-value {
      @apply  text-slate-200;
    }
  }

  .active {
    background-color: #0e10134d;
  }
  .active:hover {
    background-color: #0e10134d;
    
  }



:root {
        background-color: #1a1d23; 
    color:white;
    
}
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.font-mont{
  font-family: 'Montserrat', sans-serif;
}

.ele {
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
  position: relative;
  left: 0;
  visibility: visible;
}

.ele:hover {
  background-color: #123;
}

@keyframes fadeIn {
  100% {
    color: #064fe200;
    background-color: #0080003d;
  }
}


.side-panel-change {
  animation: 0.2s sidePanel;
  animation-fill-mode: forwards;
  position: relative;
  left: 0;
  visibility: visible;
}


@keyframes sidePanel {
  50% {
    padding-right: 2px;
    padding-left: 2px;
  }
  100% {

  }
}

